.main {
    height: 100%
}

.home {
    height: 100%;
}

.home__video {
    /*z-index: 0;*/
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    object-fit: contain;
}

.swiper-slide-prev .home__video,
.swiper-slide-next .home__video {
    display: none;
}

.about {
    width: 100%;
    height: 100%;
    background: center/cover no-repeat url("/home/images/about_bg.jpg");
    position: relative;
}

.about__content {
    padding: 0px;
    width: 100%;
    position: absolute;
    /*top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);*/
    top:90px;
}

.service__startup {
    width: 100%;
    height: 100%;
    background: center/cover no-repeat url("/home/images/service_bg.jpg");
}

.service__recovery {
    width: 100%;
    height: 100%;
    background: center/cover no-repeat url("/home/images/service_bg.jpg");
}

.service__performance {
    width: 100%;
    height: 100%;
    background: center/cover no-repeat url("/home/images/service_bg.jpg");
}

.service__newbusiness {
    width: 100%;
    height: 100%;
    background: center/cover no-repeat url("/home/images/service_bg.jpg");
}

.service__content {
    padding: 0px;
    width: 100%;
    position: absolute;
    /*top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);*/
    top:90px;
}

.service__content__startup__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.service__content__startup__project {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 280px;
    height: 250px;
    /*min-width: 180px;*/
    /*min-height: 150px;*/
    margin: 10px;
    background-color: yellow;
}

.service__content__startup__project .project__image {
    max-width: 100%;
    max-height: 100%;
}

.service__content__startup__project .project__description {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(50px);
    transition: all var(--animation-duration) ease-in;
}

.service__content__startup__project:hover .project__description {
    transform: translateY(0px);
    opacity: 0.8;
}

.service__content__startup__graph {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #e7e6e6;
    /*width: 80%;*/
    /*height: 80%;*/
}

.service__content__startup__graph img {
    width: 700px;
    /*width: 80%;*/
    /*height: 80%;*/
}

.contact {
    width: 100%;
    height: 100%;
    background: center/cover no-repeat url("/home/images/contact_bg.jpg");
    /*opacity: 0.7;*/
}

.contact__content {
    padding: 0px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


/*For below 768px screen width*/
@media screen and (max-width: 768px) {
    .width__large {
        display: none;
    }

    .width__small {
        display: block;
    }

    .service__content__startup__project {
        width: 130px;
        height: 100px;
    }
}

/*For below 768px screen width*/
@media screen and (max-width: 320px) {

    .service__content__startup__project {
        width: 100px;
        height: 70px;
    }
}