@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: center/cover no-repeat url("/home/images/page_bg1.jpg");

  div:first-child {
    -webkit-animation: fadein 2s ease-in alternate;
    -moz-animation: fadein 2s ease-in alternate;
    animation: fadein 2s ease-in alternate;

    display: flex;
    align-items: center;

    * {
      //margin-right: 10px;
    }
  }

  div:nth-child(2) {
    -webkit-animation: fadein 4s ease-in alternate;
    -moz-animation: fadein 4s ease-in alternate;
    animation: fadein 4s ease-in alternate;

    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

/*For below 768px screen width*/
@media screen and (max-width: 768px) {
  .main {
    div {
      img {
        height: 24px;
      }
    }

    h2 {
      margin: 5px 0;
    }
  }
}