.home {
    text-align: center;
    background-color: var(--color-blue);
    height: 500px;
    padding-top: 100px;
}

.home video {
    opacity: 0.8;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    object-fit: contain;
}