/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 800;
    --weight-semi-bold: 700;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 10px;

    /* Annimation */
    --animation-duration: 300ms;
}

@media screen and (max-width: 768px) {
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }
}

html,
body,
#__next {
    position: relative;
    height: 100%;
}

/*Universal tags*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR','Roboto','Nanum Gothic', sans-serif;
    cursor: default;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/*Typography*/
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-white);
    margin: 20px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-light-white);
    margin: 18px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-light-white);
    margin: 16px 0;
}

p {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-dark-white);
    margin: 4px 0;
}
#navbar .navigation ul.menu {
    margin:25px 0;
  }
#navbar .navigation ul.menu__service {
    margin:25px 0;
  }

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {right:60px !important;}
.swiper-pagination-bullet {
    background: rgba(255,255,255,0.8) !important;
    opacity: 1 !important;
    margin:20px 0 !important;
    border-radius: 6px !important;
    width:6px !important; height:6px !important;
}

.swiper-pagination-bullet-active {
   /* margin-left: -5px !important;
    width: 15px !important;;
    background: #8eb5ff !important;*/
    position: relative;
    width:6px !important; height:6px !important;
    background: rgba(255,127,0,1) !important;
}
.swiper-pagination-bullet-active::after{ content:"";display:inline-block;position:absolute;top:-7px;left:-7px;width:18px;height:18px;border:1px solid rgba(255,127,0,.8);border-radius:50%;}

.video_bg{background-color:rgba(0,0,0,0.5); position:absolute; top:0; left:0; width:100%; height:100%; z-index: 10;}


.video_control.control_area {
	top: calc(50% - 34px);
	text-align: center;
    position: relative;
    z-index: 999;
}
.video_control.control_area button {
	width: 68px;
	height: 68px;
	border-radius: 100%;
    font-size:0;
}
.video_control.control_area button:hover {
	background-color: #ff7f00;
}
.video_control.control_area .pause {
	background: rgba(0, 0, 0, 0.2) url('/home/images/ico_pause.png') no-repeat 50% 50%;
}
.video_control.control_area .pause.hidden {
    display: none;
}
.video_control.control_area .play {
	background: rgba(0, 0, 0, 0.2) url('/home/images/ico_play.png') no-repeat 60% 50%;
}
.video_control.control_area .play.hidden {
    display: none;
}

/*mouse scroll*/
.scroll_hint .scroll_tit {position: absolute; z-index:99; color:#fff; left:50%; display: inline; bottom:110px; font-size:13px; font-weight:300; margin-left:-17px;}
.scroll_hint .mouse_icon {
	position: absolute;
	bottom: 60px;
	left: 50%;
	width: 26px;
	height: 40px;
	margin-left: -13px;
	border: 2px solid #fff;
	border-radius: 20px;
    z-index:99;
}
.scroll_hint .mouse_icon::before {
	content: "";
	display: block;
	position: absolute;
	top: 7px;
	left: 50%;
	width: 2px;
	height: 8px;
	margin-left: -1px;
	background: #fff;
	animation: scrollAni 2s infinite;
}
.scroll_hint .arrow::before {
	content: "";
	display: block;
	position: absolute;
	bottom: 45px;
	left: 50%;
	width: 8px;
	height: 8px;
	margin-left: -5px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	animation: scrollArrow 2s infinite;
    z-index:99;
}
.scroll_hint .arrow::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 39px;
	left: 50%;
	width: 8px;
	height: 8px;
	margin-left: -5px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	animation: scrollArrow 2s infinite;
    z-index:99;
}
@keyframes scrollAni {
	0% {
		transform: translate(0, 0);
	}
	80% {
		transform: translate(0, 10px);
	}
}
@keyframes scrollArrow {
	0% {
		transform: rotate(45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(45deg) translate(10px, 10px);
		opacity: 0;
	}
}

.main_h2_tit {
    text-align:left;
    font-family: 'Roboto';
    font-size:60px;
    font-weight:700;
    position:relative;
    /*padding:0 0 0 140px;*/
    margin:70px 0 0 13.5%;
    color:#fff;
  }
  .main_h2_tit::before{width:92px; height:2px; position:absolute;left:-140px; top:35px; content: ''; background-color: #fff; }

.about_titA{font-size:44px; font-weight:700; color:#fff; margin:30px 0 0 0}
.about_titA span{font-family:'Roboto'; font-size:48px; color:#ff5a00 ;}
.about_titB {color:#fff;font-size:20px; font-weight:300; margin-top:38px;}
.about_box{display: flex; justify-content:center; margin-top:40px;}
.out_box{border:1px solid rgba(255,255,255,0.8); width:236px; height:230px; margin-right:41px; margin-left:27px; position:relative;}
.out_box:after{ content: ''; position: absolute; background: url('/home/images/plus_icon.png') no-repeat;width:16px; height:16px; top:50%; right:-42px;}
.about_service.out_box:after{background: none;}
.inner_box{border:10px solid #ff7f00; width:196px; height:190px; margin-top:19px; margin-left:19px; color: #fff; font-size: 26px; font-weight: 700; position: relative;}
.inner_box span{display:block; margin-top:100px;}
.about_expert .inner_box::after{width:60px; height:62px; content: ''; position: absolute; background: url('/home/images/expert_icon.png') no-repeat; left:35%; top:35px;}
.about_passion .inner_box::after{width:62px; height:61px; content: ''; position: absolute; background: url('/home/images/passion_icon.png') no-repeat; left:35%; top:36px; margin-left:-5px;}
.about_service .inner_box::after{width:60px; height:56px; content: ''; position: absolute; background: url('/home/images/service_icon.png') no-repeat; left:35%; top:38px;}
.about_bottom{margin-top:60px; font-size:16px; font-weight: 300; color:#fff; }

.service_box{display: flex; margin:30px 13.5% 0;}
.service_box .service_box_left{width:50%; position: relative;}
.service_box .service_box_left::after{content: ''; position: absolute; width: 1px; height:164px; top:0; right:0; background-color:rgba(255,255,255,0.3);}
.service_box .service_box_right{width:50%; text-align: left;}
.service_box .service_box_left .service_titA {color:#fff; font-size: 46px; letter-spacing:-0.5px; text-align: left; line-height:55px;}
.service_box .service_box_left .service_titB {color:#f1f1f1; font-size:23px; font-family: 'Roboto'; text-align:left; margin-top:15px; font-weight: 300; line-height: 26px; letter-spacing: -0.3px;}
.service_box .service_box_right .service_titC {color:#f1f1f1; font-size:15px; font-weight: 300; text-align: left; margin-left:60px; line-height: 27px;}
.service_box .service_box_right .more{text-align: left; top:12px; margin-left:60px; color:#fff; font-size:15px; font-weight: 400; position: relative;}
.service_box .service_box_right .more:after{top:3px; left:75px; position: absolute; content: ''; display: block; width:18px; height:16px; background:url('/home/images/main_more.png') no-repeat;}

.service_banner {width:1106px; margin:46px auto 0;}
.service_banner ul::after { content: ""; display: block; clear: both; }
.service_banner ul li{position: relative; overflow: hidden; float: left; width:260px; height:320px; -webkit-transition: .4s ease-in-out; transition: .4s ease-in-out; margin-right:22px;}
.service_banner ul li::after { content: ""; position: absolute; display: block; top: 0; right: 0; bottom: 0; left: 0; 
                               background: inherit; background-size: cover;
                               -webkit-transform-origin: center; -ms-transform-origin: center; transform-origin: center;
                               -webkit-transition: -webkit-transform  .4s ease-in-out; transition: -webkit-transform  .4s ease-in-out; transition: transform  .4s ease-in-out; transition: transform  .4s ease-in-out, -webkit-transform  .4s ease-in-out; } 
.service_banner ul li:hover::after { -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }
.service_banner ul li:nth-child(1){background:url('/home/images/service_img1.jpg') no-repeat;background-position:0 -50px}
.service_banner ul li:hover:nth-child(1){background:url('/home/images/service_img1_hover.jpg') no-repeat;background-position:0 -50px}

.service_banner ul li:nth-child(2){background:url('/home/images/service_img2.jpg') no-repeat;background-position:0 -50px}
.service_banner ul li:hover:nth-child(2){background:url('/home/images/service_img2_hover.jpg') no-repeat;background-position:0 -50px}

.service_banner ul li:nth-child(3){background:url('/home/images/service_img3.jpg') no-repeat;background-position:0 -50px}
.service_banner ul li:hover:nth-child(3){background:url('/home/images/service_img3_hover.jpg') no-repeat;background-position:0 -50px}

.service_banner ul li:nth-child(4){background:url('/home/images/service_img4.jpg') no-repeat; margin-right: 0;background-position:0 -50px}
.service_banner ul li:hover:nth-child(4){background:url('/home/images/service_img4_hover.jpg') no-repeat;background-position:0 -50px}
.service_banner ul li a {position: relative; display: block; height: 320px; padding:70px 50px 70px; z-index: 1; color: #fff; }
.service_banner ul li a:hover{text-decoration: none;}
.service_banner ul li a p {color: #fff; margin: 0; font-size: 24px; font-family:'Roboto'; font-weight: 600;}
.service_banner .banner_btn {margin-top:60px;display:inline-block; border:1px solid rgba(255,255,255,0.7); width:73px; height:73px; border-radius: 50%; position: relative;background:url('/home/images/plus_icon.png') no-repeat center center;}

.service_banner ul li:hover .banner_btn{border:1px solid #ff7f00; background-color: #ff7f00;}


.contact_box{margin:100px 260px 0; position: relative; padding:74px 0 0 75px; text-align: left; background:url('/home/images/contact_img.png') no-repeat 0 0; background-size:346px 364px; height:364px;} 
.contact_box p {margin:0}
.contact_box .tit{color:#fff; font-size:24px; font-family: 'Roboto'; font-weight: 600; }
.contact_box .kor_add{color:#fff; font-size:34px; font-weight: 500; margin-top:25px;}
.contact_box .eng_add{color:#999; font-size:24px;  font-family: 'Roboto'; font-weight: 400; margin-top:10px;}

.contact_box .link_box{margin-top:25px; }
.contact_box .link_box ul:after { content: ""; display: block; clear: both; }
.contact_box .link_box ul li{margin-right:22px; border-radius:50%; width:62px; height:62px; background-color: #ff7f00; position:relative; float:left;}
.contact_box .link_box ul li:nth-child(3){margin-right:0;}
.contact_box .link_box ul li a::after{width:62px; height:62px; position: absolute; display: block; content: '';}
.contact_box .link_box ul li:nth-child(1) a::after{background:url('/home/images/contact_map.png') no-repeat center center; }
.contact_box .link_box ul li:nth-child(2) a::after{background:url('/home/images/contact_mail.png') no-repeat center center; }
.contact_box .link_box ul li:nth-child(3) a::after{background:url('/home/images/contact_instagram.png') no-repeat center center; }


.sub_tit{font-size:100px; font-family: 'Roboto';}
.sub_tit { text-align:center; font-family: 'Roboto'; font-size:40px; font-weight:700; position:relative; margin:60px 0 0 0px;color:#fff;}
.location-list {padding:0;display:flex;justify-content:center;align-items:center;height:20px;}
.location-list > li {position:relative; padding-left:28px; font-size:15px; font-family: 'Roboto'; font-weight:400; line-height:18px; color:rgba(255,255,255,0.7);}
.location-list > li:first-child{padding-left:0;}
.location-list > li:first-child:before {display:none; }
.location-list > li:before {content:''; position:absolute;top:50%; left:6px; display:block; width:18px; height:18px; margin-top:-9px; background:url('/home/images/icon_arrow.png') center center no-repeat;}
.location-list > li:last-child{color:#fff; font-weight: 600;}
.location-list .home{position:relative;top:-2px; width:12px; height:11px; background:url('/home/images/icon_home.png')no-repeat center center; background-size: 100% auto; display: inline-block; font-size:0; }

/*business*/
.business_all_t {display: none;}
.business_all_m {display: none;}
.business_all {position: relative; margin:0 auto; margin-top:90px; }
.business_all .line1{border:1px solid rgba(255,255,255,0.3); width:450px; height:450px; border-radius: 50%; top:5%; left:50%; transform: translate(-50%, 0%); position: absolute;}
.business_all .line2{border:1px solid rgba(255,255,255,0.3); width:250px; height:250px; border-radius: 50%; top:50%; left:50%; transform: translate(-50%, -50%); position: absolute;}
.business_all .center_circle{background-color: #ff5a00; border-radius: 50%; width:130px; height:130px; position:absolute; left:50%; top:50%; transform: translate(-50%, -50%);}
.business_all .center_circle span{color:#fff; font-size:19px; font-weight:600; position: relative; top:55%;}
.business_all .center_circle span::before{position:absolute; content: ''; display: block;background:url('/home/images/sub_logo.png')no-repeat center center;
    width:22px; height:48px; top:-50px; left:24px;}
.recovery_all_t {display: none;}
.recovery_all_m {display: none;}
.recovery_all {position: relative; margin:0 auto; margin-top:90px; }
.recovery_all .line1{border:1px solid rgba(255,255,255,0.3); width:450px; height:450px; border-radius: 50%; top:5%; left:50%; transform: translate(-50%, 0%); position: absolute;}
.recovery_all .line2{border:1px solid rgba(255,255,255,0.3); width:250px; height:250px; border-radius: 50%; top:50%; left:50%; transform: translate(-50%, -50%); position: absolute;}
.recovery_all .center_circle{line-height:16px;background-color: #ff5a00; border-radius: 50%; width:140px; height:140px; position:absolute; left:50%; top:50%; transform: translate(-50%, -50%);}
.recovery_all .center_circle span{color:#fff; font-size:16px; line-height:1; font-weight:600; position: relative; width:140px; display: block;}
.recovery_all .center_circle span.logo{top:35%; }
.recovery_all .center_circle span.text{top:57%; font-size:14px; }
.recovery_all .center_circle .logo::before{position:absolute; content: ''; display: block;background:url('/home/images/sub_logo.png')no-repeat center center;
    width:22px; height:48px; top:-45px; left:50%;transform:translateX(-50%); background-size:75% 75%;}
    .recovery_all .center_circle .logo::after{position:absolute; content: ''; display: block;background:url('/home/images/plus_icon.png')no-repeat center center;
        width:22px; height:48px; top:8px; left:50%;transform:translateX(-50%);}
        
      
/* .line_circle {width:707px; height:707px; background-size:cover;} */
.line_circle a span{ font-size: 17px; line-height:24px;  text-transform: uppercase; color: #333; top: 50%; position: relative; display: block;  transform: translateY(-50%);}
.line_circle a:hover{text-decoration: none;}
.line_circle a:hover span.tit{color:#fff;}
    .circle1, .circle2, .circle3, .circle4,  .circle5, .circle6, .circle7
    {background:#fff; width:90px; height:90px; border-radius:50%; text-align:center; position:absolute; border:3px solid #ff7f00; color:#333;}
    .circle1:hover, .circle2:hover, .circle3:hover,
    .circle4:hover, .circle5:hover, .circle6:hover, .circle7:hover{border:3px solid #ff7f00;background-color:#ff7f00; }
    
    .circle1{top:-45px; left:50%; margin-left:-40px;}
    .circle2{top:60px; left:50%; margin-left:140px;}
    .circle3{top:250px; left:50%; margin-left:165px;}
    .circle4{top:380px; left:50%; margin-left:50px;}
    .circle5{top:380px; left:50%; margin-left:-145px;}
    .circle6{top:250px; left:50%; margin-left:-260px;}
    .circle7{top:60px; left:50%; margin-left:-240px;}

/* .line_circle_new {width:707px; height:707px; background-size:cover;} */
.line_circle_new a span{ font-size: 17px; line-height:24px;  text-transform: uppercase; color: #333; top: 50%; position: relative; display: block;  transform: translateY(-50%);}
.line_circle_new a:hover{text-decoration: none;}
.line_circle_new a:hover span.tit{color:#fff;}
    .circle1_new, .circle2_new, .circle3_new, .circle4_new,  .circle5_new, .circle6_new, .circle7_new
    {background:#fff; width:120px; height:120px; border-radius:50%; text-align:center; position:absolute; border:3px solid #ff7f00; color:#333;font-family: 'Roboto'; font-weight:600;}
    .circle1_new:hover, .circle2_new:hover, .circle3_new:hover,
    .circle4_new:hover, .circle5_new:hover, .circle6_new:hover, .circle7_new:hover{border:3px solid #ff7f00;background-color:#ff7f00; }
    
    .circle1_new{top:30px; left:50%; margin-left:-60px;}
    .circle2_new{top:115px; left:50%; margin-left:90px;}
    .circle3_new{top:280px; left:50%; margin-left:130px;}
    .circle4_new{top:420px; left:50%; margin-left:30px;}
    .circle5_new{top:420px; left:50%; margin-left:-140px;}
    .circle6_new{top:280px; left:50%; margin-left:-245px;}
    .circle7_new{top:115px; left:50%; margin-left:-210px;}

.business_circle span{font-size: 13px; line-height:18px; text-transform: uppercase; color: #333; top: 50%; position: relative; display: block;  transform: translateY(-50%);}
.business_circle a:hover{text-decoration: none;}
.business_circle1, .business_circle2, .business_circle3, .business_circle4{background:#fff; width:86px; height:86px; border-radius:90px; text-align:center; position:absolute; background-color:#ededed;}
.business_circle1{top:62px; left:50%; margin-left:-40px;}
.business_circle2{top:170px; left:50%; margin-left:80px; }
.business_circle3{top:312px; left:50%; margin-left:-40px;}
.business_circle4{top:170px; left:50%; margin-left:-164px;}


.recovery_circle span{font-size: 13px; line-height:18px; text-transform: uppercase; color: #333; top: 50%; position: relative; display: block;  transform: translateY(-50%);}
.recovery_circle a:hover{text-decoration: none;}
.recovery_circle1, .recovery_circle2, .recovery_circle3 {background:#fff; width:86px; height:86px; border-radius:90px; text-align:center; position:absolute; background-color:#ededed;}
.recovery_circle1{top:170px; left:50%; margin-left:80px;}
.recovery_circle2{top:312px; left:50%; margin-left:-40px;}
.recovery_circle3{top:170px; left:50%; margin-left:-164px;}

.new_all_t {display: none;}
.new_all_m {display: none;}
.new_all {position: relative; /*margin:0 auto; margin-top:90px;*/ display: flex; width:900px;left:50%; transform: translateX(-50%); justify-content: center; }
.new_all ::after{content: ''; clear: both; display: block;}
.new_all .line1{border:1px solid rgba(255,255,255,0.3); width:400px; height:400px; border-radius: 50%; top:15%; left:50%; transform: translate(-50%, 0%); position: absolute;}
.new_all .center_circle{background-color: #ff5a00; border-radius: 50%; width:150px; height:150px; position:absolute; left:50%; top:50%; transform: translate(-50%, -50%);}
.new_all .center_circle span{color:#fff; font-size:19px; font-weight:600; position: relative; top:55%;}
.new_all .center_circle span::before{position:absolute; content: ''; display: block;background:url('/home/images/sub_logo.png')no-repeat center center;
    width:22px; height:48px; top:-50px; left:24px;}

.new_all .new_left{float:left; position: relative; width:600px; height:600px;} 
.new_all .new_right{float:left;}  
.new_contents {margin-top:160px; position: relative;}
.new_contents::before{position: absolute; width:105px; height: 1px; background-color: rgba(255,255,255,0.3); display: block; content: ''; top:92px; left:-105px}
.new_contents ul {padding:20px 25px;border-radius: 14px; border: 1px solid rgba(255,255,255,0.3); margin:0; background-color: rgba(0, 0, 0, 0.4);}
.new_contents ul li{font-size:15px; line-height:26px; font-weight: 300; color:#fff; text-align: left; position: relative; padding-left:12px;}
.new_contents ul li:after{width:3px; height:3px; position: absolute; background-color: #fff; display: block; content: ""; left:0; top:12px;}

/*tooltip*/
.tooltip:hover .tooltip-content {opacity: 1;}
.tooltip .tooltip-content { background: #f4f4f4; box-sizing: border-box; color: #333; font-weight: 400; font-size:12px; line-height: 1.2; letter-spacing:-0.2px;
max-width:500px; min-width:300px; padding: 12px; position: absolute; opacity: 0; text-align: left; transition: all 0.3s ease;}
.tooltip .tooltip-content::after { background: #f4f4f4; color: #333; content: ""; height: 10px; position: absolute; transform: rotate(45deg); width: 10px;}
.tooltip.top .tooltip-content { bottom: calc(100% + 1.5em); left: 50%; transform: translateX(-50%);}
.tooltip.top .tooltip-content::after { bottom: -5px; left: 50%; margin-left: -5px; }
.tooltip .tooltip-content .tool{margin:0;}
.tooltip .tooltip-content .tool li{display: block; position: relative;padding-left: 12px;}
.tooltip .tooltip-content .tool li:after{position: absolute; content:''; display:block; top:5px; left:0; width:3px; height:3px; background-color: #333;}

.tooltip.bottom .tooltip-content { bottom: calc(-100% - 1.8em); left: 50%; transform: translateX(-50%);}
.tooltip.bottom .tooltip-content::after { top: -5px;}
.tooltip.right .tooltip-content { left: calc(100% + 1.5em); top: 50%; transform: translateY(-50%);}
.tooltip.right .tooltip-content::after { left: -5px; margin-top: -5px; top: 50%;}
.tooltip.left .tooltip-content {right: calc(100% + 1.5em); top: 50%;transform: translateY(-50%);}
.tooltip.left .tooltip-content::after {right: -5px;margin-top: -5px; top: 50%;}

.Performance_graph {width:960px; height:260px; position: relative; margin:0 auto 20px;}
.Performance_graph .tit{text-align: left;}
.Performance_graph .tit p {font-size:14px; color:#fff; padding-left:28px;}
.Performance_graph .tit p span{color:#999; font-size: 12px; padding-left:10px;}
.Performance_graph .img{width:960px; height:260px;}
.Performance_graph .img img{width:100%;}
.Performance_con {position: relative; margin:0 auto; width:825px;}
.Performance_con::after{content: ""; clear: both; display: block;}
.Performance_left {float:left; margin-right:25px;}
.Performance_left .tit{background-color:#ff7f00; }
.Performance_right{float:left;}
.Performance_right .tit{background-color:#ff5a00; }
.Performance_con .tit{font-family: "Roboto"; font-weight:700; font-size:16px; color:#fff; width:400px; padding:12px; text-align: center; border-radius: 73px;}
.Performance_con .tit span{font-family:'Noto Sans KR'; font-weight:300}
.Performance_con .box ul{background-color:#eee; width:400px;  border-radius: 14px; height:226px; padding:20px 25px;}
.Performance_con .box ul li{font-weight:300; font-size:14px; text-align: left; color:#333; position: relative; padding-left:12px; line-height:26px;}
.Performance_con .box ul li span{color:#f44805; font-size:16px; font-weight:500; text-decoration: underline;}
.Performance_con .box ul li:after{width:3px; height:3px; position: absolute; background-color: #333; display: block; content: ""; left:0; top:12px;}
/* 
.main_h2_tit {
    text-align:left;
    font-family: 'Roboto';
    font-size:60px;
    font-weight:700;
    position:relative;
    margin:70px 0 0 13.5%;
    color:#fff;
  }
  .main_h2_tit::before{width:92px; height:2px; position:absolute;left:-140px; top:35px; content: ''; background-color: #fff; }
 */

@media screen and (max-width: 1200px) {
    .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {right:40px !important;}
    .main_h2_tit {margin:70px 0 0 8.4%; font-size:50px;}
    .main_h2_tit::before{width:60px; top:30px; left:-7%;}
    .about_titA{font-size:32px; }
    .about_titB{font-size:16px; margin-top:30px;}
    .about_bottom{font-size:14px;margin-top:40px;}
    .out_box{width:220px; height:214px;}
    .inner_box{width:180px; height:174px; font-size:20px;}
    .service_box{margin:20px 8.4% 0;}
    .service_box .service_box_left{padding-right:30px;}
    .service_box .service_box_left .service_titA{font-size:30px; line-height:34px;}
    .service_box .service_box_left .service_titB{font-size:16px;}
    
    .service_box .service_box_right .service_titC{font-size:13px; margin-left:40px; line-height: 23px;}
    .service_box .service_box_left::after{height:140px;}
    .service_box .service_box_right .more{margin-left:40px; top:0; font-size:14px;}
    .service_banner{width:866px;}
    .service_banner ul li{width:200px; height:320px;}
    .service_banner ul li a{height:320px;padding:50px 20px 50px;}
    .service_banner ul li a p{font-size:16px;}
    .service_banner .banner_btn{margin-top:120px; width:60px; height:60px;}
    .contact_box {margin:100px 8.4% 0; height:300px; background-size:300px 300px; padding:60px 0 0 60px;}
    .contact_box .tit{font-size:20px;}
    .contact_box .kor_add{font-size:25px; margin-top:8px;}
    .contact_box .eng_add{font-size:16px; margin-top:8px;}

    /*sub page*/
    .tooltip .tooltip-content{min-width:150px;}
    .Performance_graph{width:900px; height:auto;}
    .Performance_graph .img{width:900px; height:auto;}

}

@media screen and (max-width: 900px) {
    .main_h2_tit::before{width:45px;}
    .about_titA span{display:block; line-height: 1;} 
    .out_box {width:190px; height: 184px;}
    .inner_box{width:150px; height:144px}
    .inner_box span{margin-top:80px}
    .about_expert .inner_box::after{left:29%; top:15px;}
    .about_passion .inner_box::after{left:29%; top:17px;}
    .about_service .inner_box::after{left:28%; top:17px;}
    .service_box .service_box_left{padding-right:20px;}
    .service_box .service_box_left .service_titA {font-size:25px; letter-spacing: -0.8px;}
    .service_box .service_box_left .service_titB{line-height: 1.2;}
    .service_box .service_box_left::after{height:160px;}
    .service_box .service_box_right .service_titC{margin-left: 30px; font-size:12px;}
    .service_box .service_box_right .service_titC{line-height: 18px;}
    .service_box .service_box_right .more{margin-left: 30px; font-size:12px;}
    .service_box .service_box_right .more:after{top:1px; left:60px;}
    .service_banner{width:564px;}
    .service_banner{margin-top:30px;}
    .service_banner ul li{width:260px; height:170px; background-position: 0 -50px !important;}
    .service_banner ul li:nth-child(1),.service_banner ul li:nth-child(2){margin-bottom:22px;}
    .service_banner ul li:nth-child(2){background-position: 0 -70px !important;}
    .service_banner ul li:nth-child(3){background-position: 0 -170px !important;}
    .service_banner ul li a{padding:30px 0px; height:170px;}
    .service_banner .banner_btn{margin-top:15px;} 

    /*페이징 하단으로*/
    .swiper-pointer-events.swiper-vertical {margin-top:0 !important; width:100%; position: relative;}
    .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets
    {display: flex; justify-content: center; width:100%; position: absolute; top:calc(100% - 50px) !important; right:0 !important;}
    .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 20px !important;}
    /*scroll*/
    .scroll_hint .scroll_tit {left:auto; right:30px;}
    .scroll_hint .mouse_icon {left:auto; right:35px;}
    .scroll_hint .arrow::before{left:auto; right:42px;}
    .scroll_hint .arrow::after{left:auto; right:42px;}

    /*subpage*/
    .sub_tit{font-size:32px;margin-top:40px;}
    .location-list{margin:10px 0;}
    .location-list > li{font-size:12px;}
    .tooltip .tooltip-content{opacity: 1;}
   
    .business_all {display: none; }
    .business_all_t{display: block; width:422px;margin:30px auto 0;}
    .business_all_t img{width:100%;}

    .recovery_all {display: none;}
    .recovery_all_t{display: block; width:422px;margin:30px auto 0;}
    .recovery_all_t img{width:100%;}
    
    .new_all{display: none; }
    .new_all_t{display: block; width:332px;margin:30px auto 0;}
    .new_all_t img{width:100%;}

    .Performance_graph{width:700px;margin-top:30px;}
    .Performance_graph .img{width:700px; }
    .Performance_con {width:100%; display: flex; flex-wrap: wrap; justify-content:center; padding:25px;}
    .Performance_con .tit{width: auto;}
    .Performance_left, .Performance_right{float: none; flex:1;} 
    .Performance_con .box ul{width: auto; height:235px;}
    .Performance_con .box ul li{font-size:13px; line-height:24px;}
    .Performance_con .box ul li span{font-size: 14px;}


}


@media screen and (max-width: 768px) {
    /*Typography*/
    h1 {margin: 20px 0px;}
    h2 {margin: 18px 0;}
    h3 {margin: 16px 0;}
    p {margin: 4px 0;}
    .main_h2_tit{margin:40px 0 0 8.4%; font-size:32px;}
    .main_h2_tit::before{width:30px; top:18px;}
    .about_titA{font-size:28px;}
    .about_titA span{font-size:30px;}
    .about_titB{font-size:14px;}
    .about_bottom{font-size:12px}
    .out_box{width:180px; height:174px; margin-right:10px; margin-left:20px;}
    .inner_box{width:140px; height:134px; font-size:15px;}
    .inner_box span{margin-top:75px;}
    .out_box:after{right:-23px;}
    .about_expert .inner_box::after{top:20px; background-size: 100%; width:50px; height:52px;left:32%;}
    .about_passion .inner_box::after{top:20px;background-size: 100%; width:50px; height:51px;left:32%;}
    .about_service .inner_box::after{top:24px; background-size: 100%; width:50px; height:46px; left:30%;}
    .contact_box{background-size:250px 250px; padding:45px 0 0 45px}
    .contact_box .kor_add{font-size:18px;}
    .contact_box .eng_add{font-size:13px;}
    .contact_box .link_box{margin-top:20px;}
    .contact_box .link_box ul{margin:0;}
    /*sub*/
    .Performance_graph{width:600px}
    .Performance_graph .img{width:600px; }
    .Performance_con .box ul{width: auto; height:260px;}
    .Performance_con .box ul li:after{top:10px;}
   
}

@media screen and (max-width:620px) {
    .main_h2_tit{margin:40px 0 0 25px;}
    .main_h2_tit::before{display: none;}
    .about_titA{margin-top:60px;}
    .about_titB{line-height: 24px;}
    .out_box{width:130px; height: 124px; margin-right:10px; margin-left: 20px;}
    .inner_box{width:110px; height:104px; border:3px solid #ff7f00; margin:10px 0 0 10px;}
    .about_bottom{width:51%; margin:20px auto 0; line-height:24px;}
    .inner_box span{margin-top:65px;}
    .about_expert .inner_box::after{width:45px; height:47px; top:10px; }
    .about_passion .inner_box::after{width:45px; height:47px; top:13px; }
    .about_service .inner_box::after{width:45px; height:47px; top:13px; }
    .service_box{margin:20px 25px 0; display: block;}
    .service_box_left{width:100%; padding-right:0; }
    .service_box .service_box_left{width:100%;}
    .service_box .service_box_left .service_titA{font-size:28px;}
    .service_box .service_box_left .service_titB{padding-bottom:20px;}
    .service_box .service_box_left::after{width:100%; height: 1px; top:auto; bottom:0;}
    .service_box .service_box_right{width:100%;}
    .service_box .service_box_right .service_titC{margin-left:0; margin-top:20px;}
    .service_box .service_box_right .more{margin-left:0;}
    .service_banner{width:100%; padding:0 25px;}
    .service_banner ul li{width:49%; height:130px;}
    .service_banner ul li:nth-child(1),.service_banner ul li:nth-child(2){margin-bottom:2%;}
    .service_banner ul li:nth-child(1),.service_banner ul li:nth-child(3){margin-right:2%;}
    .service_banner ul li:nth-child(2),.service_banner ul li:nth-child(4){margin-right:0;}
    .service_banner ul li a{height:130px; padding:0;}
    .service_banner ul li a p{text-align: left; padding-left:25px; padding-top:48px;}
    .service_banner .banner_btn{width:50px; height:50px; position: absolute; top:32%; right:25px; margin-top:0; }

    .contact_box{background-size:280px 280px; margin:100px 25px 0; padding:35px 0 0 35px;}
    .contact_box .con{padding-right:40px}
    .contact_box .link_box ul li{width:40px; height:40px; }
    .contact_box .link_box ul li a::after{width:40px; height:40px; }
    .contact_box .link_box ul li:nth-child(1) a::after{background-size: 18px 20px !important;}
    .contact_box .link_box ul li:nth-child(2) a::after{background-size: 20px 12px !important;}
    .contact_box .link_box ul li:nth-child(3) a::after{background-size: 18px 18px !important;}

    /*sub*/
    .sub_tit{font-size:26px;}
    .Performance_con .tit {font-size:14px;}
    .Performance_con .box ul{width: auto; height:235px; margin:10px 0;}
    .Performance_con .box ul li{font-size: 12px; line-height: 19px;}
    .Performance_con .box ul li:after{top:9px;}
    .Performance_graph{width:500px}
    .Performance_graph .img{width:500px; }
    

}


@media screen and (max-width:420px) {
    .sub-header-bg {height:58px !important;}
    .navbar__logo{top:13px  !important; font-size:18px  !important;}
    #navbar .icon {top:0px  !important;}
    
    .main_h2_tit{font-size:25px; margin:25px 0 0 25px;}
    .about_titA{margin-top:6%; font-size:20px;}
    .about_titA span{font-size:26px;}
    .about_titB{font-size:12px; line-height: 24px; margin-top:4%;}
    .about_box{margin-top:6%; height:101px;}
    .out_box{border:0; width:76px; height:76px;}
    .out_box:after{top:40%;background:url('/home/images/plus_icon_m.png') no-repeat center center}
    .inner_box{border-radius:50%; margin-top:0; width: 76px; height:76px;}
    .inner_box:nth-child(1){margin-left:0;}
    .inner_box span{margin-top:80px;}
    .about_expert .inner_box::after{left:45%; transform:translateX(-35%);}
    .about_passion .inner_box::after{left:45%; transform:translateX(-30%);}
    .about_service .inner_box::after{left:45%; transform:translateX(-40%);}
    .about_bottom{padding:0 25px; width:100%; margin-top:6%;}

    .service_box .service_box_left .service_titA{font-size: 21px; line-height: 30px;}
    .service_box .service_box_left .service_titB{font-size:14px; line-height: 1.4; display: none;}
    .service_box .service_box_right .service_titC{margin-top:6%;}
    .service_box .service_box_left::after{display: none;}
    .service_banner{margin-top:8%;}
    .service_banner ul li{height:80px; }
    
    .service_banner ul li a p{padding-left: 15px; padding-top:24px; font-size:13px;}
    .service_banner ul li:nth-child(1){background-position:0 -50px !important}
    .service_banner ul li:nth-child(2){background-position:0 -75px !important}
    .service_banner ul li:nth-child(3){background-position:0 -100px !important}
    .service_banner ul li:nth-child(4){background-position:0 -40px !important}
    .service_banner .banner_btn{border:1px solid rgba(255,255,255,0.2);width:26px; height:26px; top:21%; right:15px; background:url('/home/images/plus_icon_m.png') no-repeat center center}
    
    .contact_box{margin-top:10%;background-size:250px 250px;}
    .contact_box .tit {font-size:15px;}
    .contact_box .con{padding-right:0;}
    .contact_box .link_box ul li{margin-right:16px;}

    .scroll_hint .scroll_tit{font-size:12px; bottom:90px;}
    .scroll_hint .mouse_icon{width:20px; height:34px; bottom:55px; }
    .scroll_hint .arrow::before{right:40px; bottom:45px;}
    .scroll_hint .arrow::after{right:40px; bottom:37px;}

    /*sub page*/
    
    .sub_tit {margin-top:0; font-size:20px;}
    .Performance_con .box ul {padding:15px; height:250px; }
    .Performance_con .box ul li {line-height: 16px;}
    .Performance_con .box ul li:after{top:6px;}
    .Performance_con .box ul li span{font-size: 12px;}
    .Performance_con{padding:10px 20px;}
    .Performance_con .tit {font-size:12px; padding:8px;}
    .Performance_left{margin-right:15px;}
    .Performance_graph{width:300px; margin-top:20px; margin-bottom:0;}
    .Performance_graph .tit p{font-size:13px; padding-left:12px;}
    .Performance_graph .img{width:300px; }
    

}


@media screen and (max-width:380px) {

    .business_all, .business_all_t {display: none; }
    .business_all_m{display: block; width:319px;margin:15px auto 0;}
    .business_all_m img{width:100%;}

    .recovery_all, .recovery_all_t {display: none;}
    .recovery_all_m{display: block; width:319px;margin:15px auto 0;}
    .recovery_all_m img{width:100%;}
    
    .new_all, .new_all_t{display: none; }
    .new_all_m{display: block; width:289px;margin:15px auto 0;}
    .new_all_m img{width:100%;}
}