/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 800;
    --weight-semi-bold: 700;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 10px;

    /* Annimation */
    --animation-duration: 300ms;
}

@media screen and (max-width: 768px) {
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }
}

html,
body,
#__next {
    position: relative;
    height: 100%;
}

/*Universal tags*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    cursor: default;
    /*background-image: url("/images/page_bg1.jpg");*/
    /*background-attachment: fixed;*/
    /*background-position: center top;*/
    /*background-repeat: no-repeat;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*background-color: #000;*/
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/*Typography*/
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-white);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
    color: var(--color-light-white);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-light-white);
    margin: 8px 0;
}

p {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-dark-white);
    margin: 4px 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*For below 768px screen width*/
@media screen and (max-width: 768px) {
    /*Typography*/
    h1 {
        margin: 16px 0px;
    }

    h2 {
        margin: 8px 0;
    }

    h3 {
        margin: 8px 0;
    }

    p {
        margin: 4px 0;
    }
}